<div>
  <img src="{{this.image_url}}" alt="some beer">
  <h5>{{this.name}}</h5>
  <p>{{this.description}}</p>
  <p>{{this.tagline}}</p>
  <p>{{this.food-pairing}}</p>
  <p>{{this.brewer-tips}}</p>
  
</div>

